# Telegram API credentials (https://my.telegram.org dan oling)
TELEGRAM_API_ID=your_api_id
TELEGRAM_API_HASH=your_api_hash

# Sizning telefon raqamingiz
PHONE_NUMBER=+998901234567

# Supabase credentials
SUPABASE_URL=https://ilmtwpvjkluieuvsmpth.supabase.co
SUPABASE_SERVICE_KEY=your_service_role_key

# Telegram Bot token
TELEGRAM_BOT_TOKEN=your_bot_token

# Haydovchilar guruhi ID
DRIVERS_GROUP_ID=-1003784903860
